<section
  class="relative h-[600px] bg-[url(/images/hero.webp)] bg-cover bg-center rounded-3xl mx-4 my-5 overflow-hidden"
>
  <div class="absolute inset-0 bg-black/40 rounded-3xl"></div>
  <div
    class="absolute inset-0 flex flex-col items-center justify-center text-center text-white px-8"
  >
    <div class="max-w-2xl space-y-4">
      <h1 class="text-5xl font-extrabold leading-tight tracking-tight">
        Tu viaje de ensueño, planificado al milímetro
      </h1>
      <p class="text-lg leading-relaxed max-w-3xl">
        Planificamos tu experiencia de viaje ideal, adaptada a tus deseos únicos
        y presupuesto.
      </p>
    </div>
    <a
      href="/contacto"
      class="mt-8 bg-primary text-white font-bold px-6 py-3 rounded-xl hover:bg-primary/90 transition duration-300"
    >
      Planifica tu Viaje
    </a>
  </div>
</section>
