---
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import BlogCard from '@/components/BlogCard.astro';
import { getCombinedSchema, getWebPageSchema } from '@/config/schemas';

const title = 'Blog - Kilómetros por Explorar';
const description =
  'Explora nuestro blog para descubrir consejos de viaje, itinerarios personalizados y experiencias únicas. Kilómetros por Explorar te ayuda a planificar el viaje de tus sueños.';
const pathname = Astro.url.pathname;
const pageSchema = getWebPageSchema(title, description, pathname);
const schema = getCombinedSchema(pageSchema);

const posts: CollectionEntry<'blog'>[] = await getCollection('blog');
const sortedPosts: CollectionEntry<'blog'>[] = posts.sort(
  (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) =>
    new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Layout title={title} description={description} schema={schema}>
  <main class="px-4 pt-24 pb-20 mx-auto max-w-7xl animate-fade-in-up">
    <h1 class="mb-8 text-4xl font-extrabold text-gray-800 tracking-tight">
      Nuestro blog
    </h1>

    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        sortedPosts.map((post, index) => (
          <BlogCard post={post} loading={index < 3 ? 'eager' : 'lazy'} />
        ))
      }
    </div>
  </main>
</Layout>
