@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
  font-family: 'Onest';
  src:
    url('/fonts/Onest-VariableFont_wght.woff2') format('woff2-variations'),
    url('/fonts/Onest-VariableFont_wght.woff2') format('woff2'),
    url('/fonts/Onest-VariableFont_wght.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blimone';
  src:
    url('/fonts/Blimone-Regular.woff2') format('woff2'),
    url('/fonts/Blimone-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #12a3ed;
  --font-display: 'Onest', sans-serif;
  --font-blimone: 'Blimone', 'Onest', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}
