---
import DotCircle from '@/assets/dotCircle.svg';
import Location from '@/assets/location.svg';
import Arrow from '@/assets/arrow.svg';
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';

interface Props {
  description: string;
  destination: {
    name: string;
    href: string;
  };
}

interface TimelineItem {
  icon: AstroComponentFactory;
  title: string;
  content: any;
}

const { description, destination } = Astro.props;

const timelineItems: TimelineItem[] = [
  {
    icon: DotCircle,
    title: 'Sobre el viaje',
    content: description,
  },
  {
    icon: Location,
    title: 'Destino',
    content: destination,
  },
];
---

<ol class="relative mx-auto max-w-4xl border-s border-gray-200">
  {
    timelineItems.map(item => (
      <li class="ms-7 mb-10 lg:ms-12">
        <span class="absolute -start-4 flex size-8 items-center justify-center rounded-full bg-gray-100">
          <item.icon class="text-primary size-4" aria-hidden="true" />
        </span>
        <h3 class="mb-3 text-xl font-semibold text-gray-900">{item.title}</h3>
        {item.title !== 'Destino' ? (
          <p class="font-normal text-gray-500">{item.content}</p>
        ) : (
          <a
            href={item.content.href}
            class="group flex w-fit flex-row items-center gap-2 text-blue-500"
          >
            <span class="animated-underline relative">{item.content.name}</span>
            <Arrow class="size-5 -rotate-45 transition-transform duration-600 group-hover:rotate-0" />
          </a>
        )}
      </li>
    ))
  }
</ol>
