---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/sections/home/Hero.astro';
import Services from '@/sections/home/Services.astro';
import PopularDestinations from '@/sections/home/PopularDestinations.astro';
import Blog from '@/sections/home/Blog.astro';
import Testimonials from '@/sections/home/Testimonials.astro';
import Faq from '@/sections/home/Faq.astro';
import Contact from '@/sections/home/Contact.astro';

import { getCombinedSchema, getWebPageSchema } from '@/config/schemas';

const title = 'Planificación Profesional de Viajes - Kilómetros por Explorar';
const description =
  'Planificamos tu viaje de forma profesional y económica. Descubre destinos, itinerarios personalizados a medida y consejos de viaje con nosotros.';
const pathname = Astro.url.pathname;

const pageSchema = getWebPageSchema(title, description, pathname);
const schema = getCombinedSchema(pageSchema);
---

<Layout title={title} description={description} schema={schema}>
  <main>
    <Hero />
    <Services />
    <PopularDestinations />
    <Testimonials />
    <Blog />
    <Faq />
    <Contact />
  </main>
</Layout>
