---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import type { Destination } from '@/data/destinations';
import CustomerCard from '@/components/customers/CustomerCard.astro';

interface Props {
  destination: Destination;
}

const { destination } = Astro.props;

const customers: CollectionEntry<'customers'>[] =
  await getCollection('customers');
const relatedCustomers = customers.filter(
  customer =>
    customer.data.destination.href.replace('/destinos/', '') ===
    destination.href
);
---

{
  relatedCustomers.length === 0 ? null : (
    <section class="max-w-7xl mx-auto px-4 pt-4">
      <h2 class="mt-12 mb-4 text-2xl font-bold text-gray-800">
        Viajeros que realizaron este viaje
      </h2>
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        {relatedCustomers.map(customer => (
          <CustomerCard customer={customer} loading="lazy" />
        ))}
      </div>
    </section>
  )
}
