---
import { getCollection } from 'astro:content';
import BlogCard from '@/components/BlogCard.astro';
import HalfArrow from '@/assets/halfArrow.svg';
import Arrow from '@/assets/arrow.svg';

const posts = await getCollection('blog');
const recentPosts = posts
  .sort((a, b) => (a.data.date > b.data.date ? -1 : 1))
  .slice(0, 3);
---

<section class="mx-auto max-w-7xl px-4 py-16">
  <h2 class="mb-8 text-3xl font-bold text-gray-800">Explora nuestro blog</h2>

  <div class="grid gap-6 md:grid-cols-3">
    {recentPosts.map(post => <BlogCard post={post} loading="lazy" />)}
  </div>

  <a
    href="/blog"
    class="group bg-primary hover:bg-primary/90 mx-auto mt-12 flex w-fit items-center gap-2 rounded-lg px-4 py-3 font-semibold text-white transition"
  >
    <span>Ver todos los artículos</span>
    <div class="relative size-4">
      <HalfArrow
        class="absolute inset-0 size-4 transition-opacity duration-300 group-hover:opacity-0"
      />
      <Arrow
        class="absolute inset-0 size-4 opacity-0 transition-all duration-300 group-hover:translate-x-1 group-hover:opacity-100"
      />
    </div>
  </a>
</section>
