---
import { getCollection } from 'astro:content';
import FeaturedCustomerCard from '@/components/customers/FeaturedCustomerCard.astro';
import HalfArrow from '@/assets/halfArrow.svg';
import Arrow from '@/assets/arrow.svg';

const customers = await getCollection('customers', ({ data }) => data.featured);
---

<section class="mx-auto max-w-7xl px-4 py-16">
  <h2 class="mb-8 text-3xl font-bold text-gray-800">Viajeros satisfechos</h2>

  <div class="grid gap-8 md:grid-cols-3">
    {
      customers.map(customer => (
        <FeaturedCustomerCard customer={customer} loading="lazy" />
      ))
    }
  </div>

  <a
    href="/viajeros"
    class="group bg-primary hover:bg-primary/90 mx-auto mt-12 flex w-fit items-center gap-2 rounded-lg px-4 py-3 font-semibold text-white transition"
  >
    <span>Ver todas las historias</span>
    <div class="relative size-4">
      <HalfArrow
        class="absolute inset-0 size-4 transition-opacity duration-300 group-hover:opacity-0"
      />
      <Arrow
        class="absolute inset-0 size-4 opacity-0 transition-all duration-300 group-hover:translate-x-1 group-hover:opacity-100"
      />
    </div>
  </a>
</section>
