---
import { getCollection } from 'astro:content';
import DestinationCard from '@/components/destinations/DestinationCard.astro';
import Arrow from '@/assets/arrow.svg';
import HalfArrow from '@/assets/halfArrow.svg';

const featuredDestinations = await getCollection('destinations', ({ data }) => {
  return data.featured === true;
});
---

<section class="mx-auto max-w-7xl px-4 py-16">
  <h2 class="mb-8 text-3xl font-bold text-gray-800">Destinos populares</h2>

  <div class="grid gap-6 md:grid-cols-3">
    {
      featuredDestinations.map(destination => (
        <DestinationCard destination={destination} />
      ))
    }
  </div>

  <a
    href="/destinos"
    class="group mx-auto mt-12 flex w-fit items-center gap-2 rounded-lg bg-primary px-4 py-3 font-semibold text-white transition hover:bg-primary/90"
  >
    <span>Ver todos los destinos</span>
    <div class="relative size-4">
      <HalfArrow
        class="absolute inset-0 size-4 transition-opacity duration-300 group-hover:opacity-0"
      />
      <Arrow
        class="absolute inset-0 size-4 opacity-0 transition-all duration-300 group-hover:translate-x-1 group-hover:opacity-100"
      />
    </div>
  </a>
</section>
