---
import Logo from '@/assets/logo.svg';
import Menu from '@/assets/menu.svg';
---

<header class="fixed top-0 z-40 w-full text-white">
  <div class="container mx-auto flex items-center justify-between p-3">
    <a href="/" class="flex items-center text-lg font-bold">
      <Logo class="mr-2 size-8" />
      Kilómetros por Explorar
    </a>

    <nav class="hidden space-x-8 text-base lg:flex lg:items-center">
      <a href="/destinos" class="hover:text-primary">Destinos</a>
      <a href="/blog" class="hover:text-primary">Blog</a>
      <a href="/viajeros" class="hover:text-primary">Viajeros</a>
      <a href="/sobre-nosotros" class="hover:text-primary">Sobre Nosotros</a>
      <a
        href="/contacto"
        class="bg-primary hover:bg-primary/90 rounded-xl px-4 py-2 font-bold text-white transition duration-300"
        >Planifica tu Viaje</a
      >
    </nav>

    <button
      id="menu-toggle"
      aria-label="Abrir y cerrar menú de navegación"
      class="focus:outline-none lg:hidden"
    >
      <Menu class="size-6" />
    </button>
  </div>

  <!-- Mobile menu -->
  <nav
    id="mobile-menu"
    class="hidden h-screen space-y-4 p-4 backdrop-blur-lg lg:hidden"
  >
    <a href="/destinos" class="block hover:text-gray-900">Destinos</a>
    <a href="/blog" class="block hover:text-gray-900">Blog</a>
    <a href="/viajeros" class="block hover:text-gray-900">Viajeros</a>
    <a href="/sobre-nosotros" class="block hover:text-gray-900"
      >Sobre Nosotros</a
    >
    <a
      href="/contacto"
      class="bg-primary hover:bg-primary/90 rounded-xl px-4 py-2 font-bold text-white transition duration-300"
      >Planifica tu Viaje</a
    >
  </nav>
</header>

<script>
  // Toggle mobile menu
  document.getElementById('menu-toggle')?.addEventListener('click', () => {
    const mobileMenu = document.getElementById('mobile-menu');
    mobileMenu?.classList.toggle('hidden');
    mobileMenu?.classList.toggle('block');
  });

  // Add background to header on scroll only on home page
  const header = document.querySelector('header');

  if (window.location.pathname === '/') {
    document.addEventListener('scroll', () => {
      if (window.scrollY > 0) {
        header?.classList.add(
          'bg-white',
          'text-gray-800',
          'border-b',
          'border-gray-300',
          'shadow-md'
        );
        header?.classList.remove('text-white');
      } else {
        header?.classList.remove(
          'bg-white',
          'border-b',
          'border-gray-300',
          'text-gray-800',
          'shadow-md'
        );
        header?.classList.add('text-white');
      }
    });
  } else {
    header?.classList.remove('text-white');
    header?.classList.add(
      'bg-white',
      'text-gray-800',
      'border-b',
      'border-gray-300',
      'shadow-md'
    );
  }
</script>
